body {
    background-color: #232323;
    font-family: Arial, Helvetica, sans-serif;
}

#sketch_view {
    top: 0;
}

#settings {
    margin-top: 10px;
}

#settings,th {
    color: #d88383;
    font-weight: bold;
    font-size: 20px;
}

#settings,td {
    color: #ffff61;
}
#ray_color {
    border: none;
    border-radius: 2px;
}